{{ partial "header.html" . }}
<main>
    <div class="main-scroll">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-5 no-padding-left col-sm-6">
                <div class="promo-box">
                    <h1>Il Mordente Podcast</h1>
                    <span class="small-title">Messaggi al <mark>3518516089</mark></span>
                </div>
            </div>
            <div class="col-md-4 no-padding-left col-sm-6">
                <img
                    data-src="https://res.cloudinary.com/riccardoim/image/upload/w_auto,c_scale,q_auto,f_auto,dpr_auto/v1558426851/palombo-riccardo.jpg"
                    alt="Riccardo Palombo" class="cld-responsive" />
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="single-project row-col-12">
            <div class="col-md-7 col-md-push-2 no-padding-left">
                <p>
                    Il Mordente è un podcast settimanale nel quale parlo di
                    corsa, tecnologia, libri e crescita personale. Trovi le
                    puntate anche su 
                    <a href="https://open.spotify.com/show/2Ap4QCxQvnV9nvsFIwVrXP" target="_blank" rel="noopener" title="Ascolta Il Mordente su Spotify">Spotify</a>,
                    <a href="https://itunes.apple.com/it/podcast/il-mordente/id1445363230" target="_blank" rel="noopener" title="Ascolta Il Mordente su Apple Podcasts">Apple Podcasts</a>,
                    <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9pbG1vcmRlbnRlLnBvZGJlYW4uY29tL2ZlZWQueG1s" target="_blank" rel="noopener" title="Ascolta Il Mordente su Google Podcasts">Google Podcasts</a> e
                    <a href="https://www.spreaker.com/show/il-mordente" target="_blank" rel="noopener" title="Ascolta Il Mordente su Spreaker">Spreaker</a>. Se hai un dispositivo Amazon Echo, puoi installare
                    la <a href="https://amzn.to/2Si9RVX" target="_blank" rel="noopener" title="Ascolta Il Mordente con la skill Alexa">skill per Alexa</a>.
                </p>
            </div>
            <div class="col-sm-2 col-md-push-2 no-padding-right">
                
                <div class="atail-sharing jssocials-shares post-content-header">
                    <div class="jssocials-share">
                        <a target="_blank" rel="noopener" 
                            href="https://facebook.com/sharer/sharer.php?u={{.Permalink}}"
                            class="jssocials-share-link" title="Condividi su
                            Facebook">
                            <img src="{{.Site.BaseURL}}img/social.png"
                                class="jssocials-share-facebook" async
                                alt="Condividi su Facebook">
                        </a>
                    </div>

                    <div class="jssocials-share">
                        <a target="_blank" rel="noopener" 
                            href="https://twitter.com/share?url={{.Permalink}}&amp;text=Il
                            Mordente Podcast%20via%20%40riccardopalombo"
                            class="jssocials-share-link" title="Condividi su
                            Twitter">
                            <img src="{{.Site.BaseURL}}img/social.png"
                                class="jssocials-share-twitter" async
                                alt="Condividi su Twitter">
                        </a>
                    </div>
                </div>

            </div></div>

        <div class="row-col-12">
        {{ partial "tutti-podcast.html" . }}
        </div>
        {{ partial "promo-recensioni.html" . }}


    </div> <!-- main-scroll -->

    <div class="grid-bg row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
    <!-- main-scroll -->
</main> <!-- main -->
{{ partial "aside.html" . }}
{{ partial "footer.html" . }}
<script type='text/javascript' src='{{.Site.BaseURL}}js/cloudinary-core-shrinkwrap.js'></script>
<script src="{{.Site.BaseURL}}js/lazysizes.min.js" async=""></script>


<script>
const cl = cloudinary.Cloudinary.new({ cloud_name: 'riccardoim' })
cl.responsive()
</script>