{{ partial "header.html" . }}
<main>
    <div class="main-scroll">

        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 no-padding-left col-sm-6">
                <div class="promo-box-blog">

                    <span class="small-title">
                        {{ .Date.Day }} {{ index $.Site.Data.mesi (printf "%d" .Date.Month) }} {{ .Date.Year }}
                    </span>
                    <h1>{{ .Params.title_interno }}</h1>
                    <!-- SHARE -->
                    <div class="jssocials-shares post-content-header">
                        <div class="jssocials-share">
                            <a target="_blank"
                                href="https://facebook.com/sharer/sharer.php?u={{.Permalink}}"
                                rel="noopener" class="jssocials-share-link" title="Condividi su Facebook">
                                <img src="{{.Site.BaseURL}}img/social.png"
                                    class="jssocials-share-facebook" async
                                    alt="Condividi su Facebook">
                            </a>
                        </div>

                        <div class="jssocials-share">
                            <a target="_blank"
                                href="https://twitter.com/share?url={{.Permalink}}&amp;text={{.Title}}%20di%20%40riccardopalombo"
                                rel="noopener" class="jssocials-share-link" title="Condividi su Twitter">
                                <img src="{{.Site.BaseURL}}img/social.png"
                                    class="jssocials-share-twitter" async
                                    alt="Condividi su Twitter">
                            </a>
                        </div>

                        <div class="jssocials-share">
                            <a target="_blank"
                                href="https://reddit.com/submit?url={{.Permalink}}&amp;title={{.Title}}"
                                class="jssocials-share-link" title="Condividi su Reddit">
                                <img src="{{.Site.BaseURL}}img/social.png"
                                    class="jssocials-share-reddit" async
                                    alt="Condividi su Reddit">
                            </a>
                        </div>
                    </div>
                    <!-- FINE SHARE -->
                </div>
            </div>
            <div class="col-md-4 no-padding-left col-sm-6">
            </div>

            <div class="col-md-2"></div>
        </div>


        <div class="atail-post row-col-12">
            <div class="atail-post-line"></div>

            <div class="col-md-8">
                <div class="row-col-8">

                    <div class="atail-post-content col-md-6 col-md-push-1
                        no-padding">
                        <div class="post-content-text">
                            {{ .Content }}
                        </div>

                        {{ partial "disqus-comments-podcast.html" . }}

                    </div>
                </div>
            </div>

            <div class="col-md-3 post-sidebar">
                {{ partial "sidebar-ultimi-libri.html" . }}
                {{ partial "sidebar-promo.html" . }}
                {{ partial "sidebar-ultimi-blog.html" . }}

            </div>

            <div class="col-md-12 atail-post-navigation no-padding">
                <div class="row-col-12">
                    <div class="col-xs-4 no-padding">
                        {{if .PrevInSection}}

                        <a href="{{.PrevInSection.Permalink}}" rel="prev"
                            title="{{.PrevInSection.Title}}">
                            <svg version="1.1"
                                xmlns="http://www.w3.org/2000/svg" x="0px"
                                y="0px" width="12.45px" height="21.15px"
                                viewBox="0 0 12.45 21.15" enable-background="new
                                0 0 12.45 21.15" xml:space="preserve">
                                <g>
                                    <g>
                                        <path vector-effect="none"
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M9.068,5.618c1.104,0,2-0.896,2-2c0-1.105-0.895-2-2-2
                                            c-1.105,0-2,0.895-2,2C7.068,4.723,7.964,5.618,9.068,5.618z
                                            M3.068,8.618c-1.105,0-2,0.896-2,2c0,1.105,0.895,2,2,2s2-0.895,2-2
                                            C5.068,9.514,4.173,8.618,3.068,8.618z
                                            M9.068,15.618c-1.105,0-2,0.895-2,1.999c0,1.105,0.895,2,2,2c1.104,0,2-0.895,2-2
                                            C11.068,16.514,10.173,15.618,9.068,15.618z"
                                            />
                                        </g>
                                    </g>
                                </svg>
                            </a>
                            <!--Previous post-->
                            {{end}}

                        </div>

                        <div class="col-xs-4 no-padding">
                            <a href="{{ .Site.BaseURL }}articoli/" title="Indice
                                articoli pubblicati">TUTTI GLI ARTICOLI</a>
                            <!--Go to blog-->
                        </div>
                        {{if .NextInSection}}
                        <div class="col-xs-4 no-padding">
                            <a href="{{.NextInSection.Permalink}}" rel="next"
                                title="{{.NextInSection.Title}}">
                                <svg version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" x="0px"
                                    y="0px" width="12.45px" height="21.15px"
                                    viewBox="0 0 12.45 21.15"
                                    enable-background="new 0 0 12.45 21.15"
                                    xml:space="preserve">
                                    <g>
                                        <g>
                                            <path vector-effect="none"
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M9.068,5.618c1.104,0,2-0.896,2-2c0-1.105-0.895-2-2-2
                                                c-1.105,0-2,0.895-2,2C7.068,4.723,7.964,5.618,9.068,5.618z
                                                M3.068,8.618c-1.105,0-2,0.896-2,2c0,1.105,0.895,2,2,2s2-0.895,2-2
                                                C5.068,9.514,4.173,8.618,3.068,8.618z
                                                M9.068,15.618c-1.105,0-2,0.895-2,1.999c0,1.105,0.895,2,2,2c1.104,0,2-0.895,2-2
                                                C11.068,16.514,10.173,15.618,9.068,15.618z"
                                                />
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                            {{end}}
                        </div>
                    </div>

                </div>

                {{ partial "promo-recensioni.html" . }}

            </div>
            <!-- main-scroll -->

        </main> <!-- main -->
        {{ partial "aside.html" . }}
        {{ partial "footer.html" . }}
        <script type='text/javascript' src='{{.Site.BaseURL}}js/cloudinary-core-shrinkwrap.js'></script>
<script src="{{.Site.BaseURL}}js/lazysizes.min.js" async=""></script>
        <script>
const cl = cloudinary.Cloudinary.new({ cloud_name: 'riccardoim' })
cl.responsive()
</script>
