{{ partial "header.html" . }}
<main>
    {{ .Content }}
</main> <!-- main -->
{{ partial "aside.html" . }}
{{ partial "footer.html" . }}
<script type='text/javascript' src='{{.Site.BaseURL}}js/cloudinary-core-shrinkwrap.js'></script>


<script>
var video_wrapper = $('.videoWrapper');
if(video_wrapper.length){
$('.play-youtube-video').on('click', function(){
video_wrapper.html('<iframe allowfullscreen frameborder="0" class="embed-responsive-item" src="' + video_wrapper.data('yt-url') + '"></iframe>');
});
}

const cl = cloudinary.Cloudinary.new({ cloud_name: 'riccardoim' })
cl.responsive()
</script>