<div class="sides">
    <div class=" container-fluid ">
        <div class="left-side">
            <div class="side-content">
                <a href="https://www.instagram.com/riccardopalombo" target="_blank" rel="noopener" title="Profilo Instagram di Riccardo Palombo"> Instagram </a>
                <a href="https://www.twitter.com/riccardopalombo" target="_blank" rel="noopener" title="Profilo Twitter di Riccardo Palombo"> Twitter </a>
                <a href="https://t.me/riccardopalombo" rel="noopener" target="_blank" title="Canale Telegram di Riccardo Palombo"> Telegram </a>
                <a href="https://www.youtube.com/riccardopalombo" target="_blank" rel="noopener" title="Canale YouTube di Riccardo Palombo"> YouTube </a>


            </div>
        </div>

        <div class="right-side">
            <div class="side-content">
                <p class="copyright">
                    © 2019 Riccardo.im - 
                    <a href="{{.Site.BaseURL}}privacy-cookie-policy/" title="Informativa privacy estesa per riccardo.im" style="color: #e0e0e0">
                    privacy</a>
                </p>
            </div>
        </div>
    </div>
</div> <!-- sides -->