        <!-- Inizio Brand -->
        <section class="atail-brands row-col-12 no-margin ">
          
          <div class="col-md-8 col-md-push-2">
            <div class="row-col-12">
              <div class="col-xs-6 col-sm-4 atail-brands-item col-md-2">
                <a href="https://itunes.apple.com/it/podcast/il-mordente/id1445363230" title="Ascolta Il Mordente su Apple Podcasts">
                  <img src="{{.Site.BaseURL}}img/podcast/apple-podcasts.png" alt="Apple Podcasts" />
                  <span>Apple Podcasts</span>
                  </a>
              </div>
              <div class="col-xs-6 col-sm-4 atail-brands-item col-md-2">
                <a href="https://open.spotify.com/show/2Ap4QCxQvnV9nvsFIwVrXP" title="Ascolta Il Mordente su Spotify">
                  <img src="{{.Site.BaseURL}}img/podcast/spotify.png" alt="Spotify" />
                   <span>Spotify</span>
               </a>
              </div>
              <div class="col-xs-6 col-sm-4 atail-brands-item col-md-2">
                <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9pbG1vcmRlbnRlLnBvZGJlYW4uY29tL2ZlZWQueG1s" title="Ascolta Il Mordente su Google Podcasts">
                  <img src="{{.Site.BaseURL}}img/podcast/google-podcasts.png" alt="Google Podcasts" />
                  <span>Google Podcasts</span>
                </a>
              </div>
              <div class="col-xs-6 col-sm-4 atail-brands-item col-md-2">
                <a href="https://www.spreaker.com/show/il-mordente" title="Ascolta Il Mordente su Spreaker">
                  <img src="{{.Site.BaseURL}}img/podcast/spreaker.png" alt="Spreaker" />
                   <span>Spreaker</span>
               </a>
              </div>
              <div class="col-xs-6 col-sm-4 atail-brands-item col-md-2">
                <a href="https://overcast.fm/itunes1445363230/il-mordente" title="Ascolta Il Mordente su Google Assistant">
                  <img src="{{.Site.BaseURL}}img/podcast/google-assistant.png" alt="Google Assistant" />
                   <span>Google Assistant</span>
               </a>
              </div>
              <div class="col-xs-6 col-sm-4 atail-brands-item col-md-2">
                <a href="https://amzn.to/2Si9RVX" title="Ascolta Il Mordente su Amazon Alexa">
                  <img src="{{.Site.BaseURL}}img/podcast/amazon-alexa.png" alt="Amazon Alexa" />
                   <span>Alexa Skill</span>
               </a>
              </div>
            </div>
          </div>
        </section>
        <!-- Fine Brand -->