<!-- footer -->
<footer class="footer">
	<div class="row">
		<div class="column col-4">
			<h5>Chi</h5>
			<p>Riccardo Palombo<br>
				<a href="/contatti" title="Contatti Riccardo Palombo" class="link">Inviami una email</a>
			</p>
		</div>

		<div class="column col-4">
			<h5>Dove</h5>
			<p>Quart. Trieste<br>
				00198 Roma, Italia</p>
		</div>

		<div class="column col-4">
			<h5>Perché</h5>
			<ul class="share">
				<li><a href="/podcast" title="Podcast Il Mordente di Riccardo Palombo" class="link">Podcast</a></li>
				<li><a href="/lavori" title="Recensioni e lavori di Riccardo Palombo" class="link">Lavori scelti</a></li>
			</ul>
		</div>
	</div>
</footer>
</div>
</div>


<script src="{{.Site.BaseURL}}assets/js/jquery.min.js"></script>
<script src="{{.Site.BaseURL}}assets/js/plugins.js"></script>
<script src="{{.Site.BaseURL}}assets/js/main.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-2482878-27"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-2482878-27');
</script>

</body>

</html>