<script type='text/javascript' src='{{.Site.BaseURL}}js/jquery.min.js'></script>
<script type='text/javascript' src='{{.Site.BaseURL}}js/main.min.js'></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-2482878-27"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-2482878-27', { 'anonymize_ip': true });
</script>
<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="beeace1e-601a-4b59-92c8-ee4fc4792a1e" type="text/javascript" async></script>
</body>
</html>
