<!DOCTYPE html>
<html lang="it-IT">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    {{ partial "seo.html" . }}
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <link rel='stylesheet' href='{{.Site.BaseURL}}css/main.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='{{.Site.BaseURL}}css/setting.css' type='text/css' media='all'/>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#565656">
    <meta name="msapplication-TileColor" content="#565656">
    <meta name="theme-color" content="#ffffff">
    <link rel="dns-prefetch" href="https://res.cloudinary.com">
</head>

<body>

    <!--Preloader-->
    <div class="atail-preloader-wrapper">
        <div class="atail-preloader">
            <span></span>
        </div>
    </div>
    <!--/Preloader-->
    
    <div class="atail container-fluid  ">
    
        <header class="atail-header">
            <div class=" container-fluid ">
                <div class="logo atail-logo-portrait">
                    <a href="{{.Site.BaseURL}}index.html" title="Riccardo.im - HomePage">
                   <span class="atail-text-logo">
                        <img src="https://res.cloudinary.com/riccardoim/image/upload/v1559917088/riccardo-palombo-sito-ufficiale.svg" alt="Riccardo.im - Sito ufficiale di Riccardo Palombo">
                    </span>
                    </a>
                </div>
                <div class="show-nav">
                    <span data-action="show-nav">
                        <span>
                            <span></span>
                            <span></span>
                        </span>
                    </span>
                </div>
                <nav class="row">
                    <div class="grid-bg row">
                        <div class="col-md-2"></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2"></div>
                    </div>
                    <ol id="menu-menu-1" class="nav-list">
                         <li class="menu-item col-xs-2 {{ if or ( .Params.articoli ) }} current-menu-item {{ end }}">
                            <a href="{{.Site.BaseURL}}articoli/" title="Indice recensioni e articoli di Riccardo Palombo"><span>Articoli</span></a>
                        </li>
                        <li class="menu-item col-xs-2 {{ .Params.podcast }}">
                            <a href="{{.Site.BaseURL}}podcast/" title="Il Mordente Podcast: puntate e discussioni"><span>Podcast</span></a>
                        </li>
                        <li class="menu-item col-xs-2 {{ .Params.contatti }}">
                            <a href="{{.Site.BaseURL}}contatti/" title="Invia un messaggio a Riccardo Palombo"><span>Contatti</span></a>
                        </li>
                    </ol>
                </nav>
            </div>
        </header>