<!DOCTYPE html>
<html lang="it-IT">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="author" content="Riccardo Palombo" />

    <!-- SEO -->
    <meta name="description"
        content="{{ if .IsPage }}{{ .Description }}{{ end }}{{ if .IsHome }}Sito ufficiale di Riccardo Palombo. Informazioni, contatti e recensioni scelte.{{ end }}" />
    <meta name="robots" content="index, follow" />
    <meta name="referrer" content="always" />

    <title>{{ if .IsPage }}{{ .Title }} - Riccardo Palombo{{ end }}
        {{ if .IsHome }}{{ .Site.Title }}{{ end }}</title>

    <!-- Social & Open Graph -->
    <meta property="og:title" content="{{ if .IsPage }}{{ .Title }} - {{ end }}{{ .Site.Title }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:image" content="{{.Site.BaseURL}}assets/img/riccardo-palombo-foto.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@riccardopalombo" />
    <link rel="icon" type="image/x-icon" href="{{.Site.BaseURL}}assets/img/favicon.ico" />
    <link rel="stylesheet" href="{{.Site.BaseURL}}assets/css/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Lora:400i|Muli:400,700" rel="stylesheet">
    <meta name="google-site-verification" content="cXrjSzkN4jWUbz-aZQ_WUGH7P-tVUL_aOko67buVZ5o" />
</head>

<body>
    <div class="fade"></div>


    <div id="site">
        <!-- header -->
        <header class="header">
            <div class="logo">
                {{ if isset .Params "infobox" }}
                <h1>
                <a title="Homepage di Riccardo Palombo" href="{{.Site.BaseURL}}index.html">Riccardo.im<span
                            class="blinking-cursor"> |</span></a>
                </h1>
                {{ else }}
                <a title="Homepage di Riccardo Palombo" href="{{.Site.BaseURL}}index.html">Riccardo.im<span
                        class="blinking-cursor"> |</span></a>
                {{ end }}
            </div>
            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            {{ if isset .Params "infobox" }}
            <div class="info">
                <span>Info</span>
                <span>Chiudi</span>
            </div>
            {{ end }}
        </header>