<!-- nav -->
<nav class="nav">
    <ul class="menu">
        <li><a title="Recensioni e lavori di Riccardo Palombo" href="/lavori">Lavori</a></li>
        <li><a title="Contatta Riccardo Palombo" href="/contatti">Contatti</a></li>
        <li><a title="Il Mordente, un podcast di Riccardo Palombo" href="/podcast">Il Mordente</a></li>   
    </ul>

    <ul class="share">
        <li><a href="https://riccardo.im/privacy-cookie-policy/" title="Informativa Privacy estesa per riccardo.im" class="link">Privacy</a></li>
        <li><a href="https://www.instagram.com/riccardopalombo" title="Profilo Instagram di Riccardo Palombo" class="link">Instagram</a></li>
        <li><a href="https://www.youtube.com/riccardopalombo" title="Profilo Youtube di Riccardo Palombo" class="link">Youtube</a></li>
        
    </ul>
</nav>