<div class="widget widget_atail_about_widget">
    <div class="widget-title"><span class="small-title">Iscriviti ora</span></div>
    <a href="https://itunes.apple.com/it/podcast/il-mordente/id1445363230" title="Ascolta Il Mordente su Apple Podcasts">
        <img data-src="https://res.cloudinary.com/riccardoim/image/upload/w_auto,c_scale,q_auto,f_auto,dpr_auto/v1558428255/apple-podcast-badge.png" alt="Apple Podcasts" class="cld-responsive" /></a>

    <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9pbG1vcmRlbnRlLnBvZGJlYW4uY29tL2ZlZWQueG1s"
        title="Ascolta Il Mordente su Google Podcasts">
        <img data-src="https://res.cloudinary.com/riccardoim/image/upload/w_auto,c_scale,q_auto,f_auto,dpr_auto/v1558428538/google-podcast-badge.png" alt="Google Podcasts" class="cld-responsive" /></a>

    <a href="https://open.spotify.com/show/2Ap4QCxQvnV9nvsFIwVrXP" title="Ascolta Il Mordente su Spotify">
        <img data-src="https://res.cloudinary.com/riccardoim/image/upload/w_auto,c_scale,q_auto,f_auto,dpr_auto/v1558428538/spotify-podcast-badge.png" alt="Spotify" class="cld-responsive" /></a>
 
    <a href="https://www.spreaker.com/show/il-mordente" title="Ascolta Il Mordente su Spreaker">
        <img data-src="https://res.cloudinary.com/riccardoim/image/upload/w_auto,c_scale,q_auto,f_auto,dpr_auto/v1558428538/spreaker-badge.png" alt="Spreaker" class="cld-responsive" /></a>
</div>