<div class="widget widget_atail_recent_posts_widget">
    <div class="widget-title"><span class="small-title">Sto leggendo</span></div>
    <ul>
                <li>
            <div>
                <a href="https://amzn.to/2JFUeSJ" target="_blank" rel="nofollow" title="Vedi il libro L'universo elegante">L'universo elegante</a>
                <div class="recent-post-info">
                    <span class="post-author">di Brian Greene</span>
                </div>
            </div>
        </li>
        <li>
            <div>
                <a href="https://amzn.to/2KvGqdX" target="_blank" rel="nofollow" title="Vedi il libro I Simpson e la filosofia">I Simpson e la filosofia</a>
                <div class="recent-post-info">
                    <span class="post-author">di Irwin, Conard e Skoble</span>
                </div>
            </div>
        </li>
                <li>
            <div>
                <a href="https://amzn.to/2WKVVC5" target="_blank" rel="nofollow" title="Vedi il libro UFO e altri oggetti non identificati">UFO e altri oggetti non identificati</a>
                <div class="recent-post-info">
                    <span class="post-author">di Giorgio Manganelli</span>
                </div>
            </div>
        </li>
        <li>
            <div>
                <a href="https://amzn.to/2EwSub5" target="_blank" rel="nofollow" title="Vedi il libro Breve storia di un raggio di sole">Breve storia di un raggio di sole</a>
                <div class="recent-post-info">
                    <span class="post-author">di Gianumberto Accinelli</span>
                </div>
            </div>
        </li>
    </ul>
</div>