{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="site__content">
  <!-- portfolio -->
  <div class="portfolio">
    <div class="works__mouse__title"></div>
      <a href="lavori/" title="Vai alle recensioni di Riccardo">
      <div class="gallery" data-cols="3" data-margin="40" data-ratio="1:1">

        <!-- entry -->

        <div class="entry work__entry">
          <div class="entry__image" data-bg="assets/img/works/microsoft-surface-laptop.jpg"></div>

          <div class="entry__overlay">
            <div class="content">
              <div class="cat">Microsoft</div>
              <div class="title">Surface Laptop</div>
            </div>
          </div>
        </div>

        <!-- entry -->
        <div class="entry work__entry">
          <div class="entry__image" data-bg="assets/img/works/apple-iphone-xs.jpg"></div>
          <div class="entry__overlay">
            <div class="content">
              <div class="cat">Apple</div>
              <div class="title">iPhone Xs</div>
            </div>
          </div>
        </div>

        <!-- entry -->
        <div class="entry h2 work__entry">
          <div class="entry__image" data-bg="assets/img/works/kobo-forma.jpg"></div>
          <div class="entry__overlay">
            <div class="content">
              <div class="cat">Kobo</div>
              <div class="title">Forma</div>
            </div>
          </div>
        </div>
        <!-- entry -->
        <div class="entry w2 work__entry">
          <div class="entry__image" data-bg="assets/img/works/samsung-netbook.jpg"></div>
          <div class="entry__overlay">
            <div class="content">
              <div class="cat">Samsung</div>
              <div class="title">NC215</div>
            </div>
          </div>
        </div>
    </a>

  </div>
  <!-- about -->
  <div class="about">
    <div class="gap-50"></div>

    <h1 class="big__title">
      Eccomi
    </h1>
    <h2>Mi occupo di foto, video e testi per agenzie e siti web. Appena posso, leggo. Ogni mattina, corro. Spesso giro
      per musei, parchi o chiese silenziose. Dal 2014 al 2019 su HDblog.</h2>

    <p>Ho messo online cinquecento video e altrettante recensioni in un decennio e mezzo di lavoro; in queste pagine
      trovi una selezione dell'ultimo periodo. Lo scorso dicembre ho aperto un podcast: <a
        title="Il Mordente, un podcast di Riccardo Palombo" class="link" href="/podcast">Il Mordente</a>. E a maggio 2019 ho messo online un nuovo sito internet: <a href="https://tech.is.it" class="link" title="Visita il sito Tech is it">Tech Is It</a>.</p>

    <div class="gap-25"></div>

    <div class="row">
      <div class="column col-6">
        <h3>Categorie</h3>

        <ul class="services__list">
          <li>- Portatili, PC</li>
          <li>- Smartphone, eReader</li>
          <li>- Console, Games</li>
          <li>- Gadgets, Smarthome</li>
          <li>- Sportwatch, Wearable</li>
        </ul>
        </ul>
      </div>
      <div class="column col-6">
        <h3>Profili</h3>

        <ul class="featured__list">
          <li>- <a href="https://www.twitter.com/riccardopalombo" title="Profilo Twitter di Riccardo Palombo"
              class="link">Twitter</a></li>
          <li>- <a href="https://www.strava.com/athletes/12993620" title="Profilo Strava di Riccardo Palombo"
              class="link">Strava</a></li>
          <li>- <a href="https://www.youtube.com/riccardopalombo" title="Canale Youtube di Riccardo Palombo"
              class="link">Youtube</a></li>
          <li>- <a href="https://t.me/riccardopalombo" title="Canale Telegram di Riccardo Palombo"
              class="link">Telegram</a></li>
          <li>- <a href="https://www.instagram.com/riccardopalombo" title="Riccardo Palombo su Instagram"
              class="link">Instagram</a></li>
        </ul>
      </div>
    </div>

    <div class="gap-50"></div>


    <!-- portfolio -->
    <div class="portfolio">
      <div class="works__mouse__title"></div>
      <a href="lavori/" title="Vai alle recensioni di Riccardo">
        <div class="gallery" data-cols="3" data-margin="40" data-ratio="1:1">

          <!-- entry -->
          <div class="entry work__entry">
            <div class="entry__image" data-bg="assets/img/works/sony-playstation-classic.jpg"></div>
            <div class="entry__overlay">
              <div class="content">
                <div class="cat">Sony</div>
                <div class="title">PlayStation Classic</div>
              </div>
            </div>
          </div>

          <!-- entry -->
          <div class="entry w2 h2 work__entry">
            <div class="entry__image" data-bg="assets/img/works/macbook-air-2018.jpg"></div>
            <div class="entry__overlay">
              <div class="content">
                <div class="cat">Apple</div>
                <div class="title">MacBook Air 2018</div>
              </div>
            </div>
          </div>

          <!-- entry -->
          <div class="entry work__entry">
            <div class="entry__image" data-bg="assets/img/works/amd-ryzen-2.jpg"></div>
            <div class="entry__overlay">
              <div class="content">
                <div class="cat">AMD</div>
                <div class="title">Ryzen 7 2700X</div>
              </div>
            </div>
          </div>
        </div>

        <!-- portfolio -->
        <div class="portfolio">
          <div class="works__mouse__title"></div>
          <div class="gallery" data-cols="3" data-margin="40" data-ratio="1:1">



            <!-- entry -->
            <div class="entry w2 work__entry">
              <div class="entry__image" data-bg="assets/img/works/samsung-galaxy-tab-s4.jpg"></div>
              <div class="entry__overlay">
                <div class="content">
                  <div class="cat">Samsung</div>
                  <div class="title">Galaxy Tab S4</div>
                </div>
              </div>
            </div>

            <!-- entry -->
            <div class="entry work__entry">
              <div class="entry__image" data-bg="assets/img/works/apple-watch-nike.jpg"></div>
              <div class="entry__overlay">
                <div class="content">
                  <div class="cat">Apple</div>
                  <div class="title">Watch Nike+</div>
                </div>
              </div>
            </div>

            <!-- entry -->
            <div class="entry work__entry">
              <div class="entry__image" data-bg="assets/img/works/sony-xperia-xa2.jpg"></div>
              <div class="entry__overlay">
                <div class="content">
                  <div class="cat">Sony</div>
                  <div class="title">Xperia XA2</div>
                </div>
              </div>
            </div>

            <!-- entry -->
            <div class="entry work__entry">
              <div class="entry__image" data-bg="assets/img/works/logitech-mx-ergo.jpg"></div>
              <div class="entry__overlay">
                <div class="content">
                  <div class="cat">Logitech</div>
                  <div class="title">MX Ergo</div>
                </div>
              </div>
            </div>
      </a>
      <a href="podcast/" title="Informazioni su Il Mordente Podcast">
        <!-- entry -->
        <div class="entry work__entry">
          <div class="entry__image" data-bg="assets/img/il-mordente-podcast.jpg"></div>
          <div class="entry__overlay">
            <div class="content">
              <div class="cat">Podcast</div>
              <div class="title">Il Mordente</div>
            </div>
          </div>
        </div>
      </a>
    </div>



  </div>

  {{ partial "footer.html" . }}