{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="site__content">
  <!-- portfolio -->
  <div class="portfolio">
    <div class="works__mouse__title"></div>

    <div class="gallery" data-cols="3" data-margin="40" data-ratio="1:1">
      <!-- entry -->
      <div class="entry work__entry">
        <div class="entry__image" data-bg="assets/img/works/microsoft-surface-laptop.jpg"></div>
      </div>

      <!-- entry -->
      <div class="entry work__entry">
        <div class="entry__image" data-bg="assets/img/works/apple-iphone-xs.jpg"></div>
      </div>

      <!-- entry -->
      <div class="entry h2 work__entry">
        <div class="entry__image" data-bg="assets/img/works/kobo-forma.jpg"></div>
      </div>
      <!-- entry -->
      <div class="entry w2 work__entry">
        <div class="entry__image" data-bg="assets/img/works/samsung-netbook.jpg"></div>
      </div>


    </div>
    <!-- about -->
    <div class="about">
      <div class="gap-50"></div>

      <h1 class="big__title">
        Eccomi
      </h1>

      <h2>Mi occupo di foto, video e testi per agenzie e siti web. Appena posso, leggo. Ogni mattina, corro. Spesso
        giro per musei, parchi o chiese silenziose. Dal 2014 a tempo pieno su hdblog.it.</h2>

      <div class="gap-25"></div>

      <div class="row">
        <div class="column col-6">
          <h3>Categorie</h3>

          <ul class="services__list">
            <li>- Portatili, PC</li>
            <li>- Smartphone, eReader</li>
            <li>- Console, Games</li>
            <li>- Gadgets, Smarthome</li>
            <li>- Sportwatch, Wearable</li>
          </ul>
          </ul>
        </div>
        <div class="column col-6">
          <h3>Reti sociali</h3>

          <ul class="featured__list">
            <li>- <a href="https://www.twitter.com/riccardopalombo" title="Profilo Twitter di Riccardo Palombo" class="link">Twitter</a></li>
            <li>- <a href="https://www.strava.com/athletes/12993620" title="Profilo Strava di Riccardo Palombo" class="link">Strava</a></li>
            <li>- <a href="https://it.linkedin.com/in/riccardopalombo" title="Profilo Linkedin di Riccardo Palombo" class="link">Linkedin</a></li>
            <li>- <a href="https://www.instagram.com/riccardopalombo" title="Profilo Instagram di Riccardo Palombo" class="link">Instagram</a></li>
          </ul>
        </div>
      </div>

      <div class="gap-50"></div>


      <!-- portfolio -->
      <div class="portfolio">
        <div class="works__mouse__title"></div>
        <div class="gallery" data-cols="3" data-margin="40" data-ratio="1:1">

          <!-- entry -->
          <div class="entry work__entry">
            <div class="entry__image" data-bg="assets/img/works/sony-playstation-classic.jpg"></div>
          </div>

          <!-- entry -->
          <div class="entry w2 h2 work__entry">
          <div class="entry__image" data-bg="assets/img/works/macbook-air-2018.jpg"></div>
          </div>

          <!-- entry -->
          <div class="entry work__entry">
            <div class="entry__image" data-bg="assets/img/works/amd-ryzen-2.jpg"></div>
          </div>

          <!-- entry -->
          <div class="entry w2 work__entry">
            <div class="entry__image" data-bg="assets/img/works/samsung-galaxy-tab-s4.jpg"></div>
          </div>

          <!-- entry -->
          <div class="entry work__entry">
            <div class="entry__image" data-bg="assets/img/works/apple-watch-nike.jpg"></div>
          </div>

          <!-- entry -->
          <div class="entry work__entry">
            <div class="entry__image" data-bg="assets/img/works/sony-xperia-xa2.jpg"></div>
          </div>

          <!-- entry -->
          <div class="entry work__entry">
            <div class="entry__image" data-bg="assets/img/works/logitech-mx-ergo.jpg"></div>
          </div>

          <!-- entry -->
          <div class="entry work__entry">
            <div class="entry__image" data-bg="assets/img/riccardo-palombo-foto.jpg"></div>
          </div>

        </div>
      </div>

      {{ partial "footer.html" . }}